<title>CarsOnSale - Login</title>
<section class="login">

  <div class="logo">
    <img src="./assets/logo.png" alt="Logo">
  </div>

  <aside>
    <h1>Forgatten password</h1>
    <div class="formulary">
      <form>
        <div class="textbox">
          <label for="email">Email</label>
          <input type="email" formControlName="email" placeholder="E-mail">
        </div>
        <div class="action-buttons">
          <button class="log" type="submit">Recover password</button>
          <a [routerLink]="['/login']"><button class="sign">Go back</button></a>
        </div>
      </form>
    </div>
  </aside>
</section>