@import url('https://fonts.googleapis.com/css2 family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin mobile {
  @media only screen and (max-width: 820px) {
    @content;
  }
}

*{
  box-sizing: border-box;
}

header{
  background-color: #191A24;
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  height: 60px;
  color: white;

  .container{
    display: none;
    width: 100%;
    background-color: #191A24;

    @include mobile{
      display: block;
    }

    .bcolor{
      background-color: #191A24;
      height: 70px;
    }

    .body{
      background-color: #191A24;
    }

    i{
      color: white;
    }

    .head1{
      display: grid;
      grid-template-areas: 'empty logo closeBtn';

      .logo{
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img{
          width: 150px;
          padding: 5px;
        }
      }

      button{
        grid-area: closeBtn;
        width: 50px;
        height: 50px;
        background-color: #191A24;
        border: none;

        i{
          color: white;
        }
      }
    }

    .NavItems{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      font-size: 20px;
      font-weight: 600;

      li{
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all 500ms;

        a{
          text-decoration: none;
          color: rgb(220, 220, 220);
        }

        &:hover{
          background-color: #281146;
          border-left: 5px solid #7F38E0;
          
          a{
            color: white;
          }
        }
      }
    }

    .link-active{
      background-color: #281146;
      border-left: 5px solid #7F38E0;
      
      a{
        color: white;
      }
    }

    .menu{
      display: flex;
      justify-content: end;
      align-items: center;
  
      li{
        width: 115px;
        padding: 5px;
        border-radius: 40px;
        background-color: #7F38E0;
        list-style-type: none;
        display: flex;
        justify-content: center;
  
        a{
          color: white;
          text-decoration: none;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }

  .NBar{
    width: 100%;
    margin: 0px 47px;
    display: grid;
    grid-template-areas: 'logo navBar men';
    position: fixed;
    background-color: #191A24;

    @include mobile{
      display: none;
    }

    .logo{
      grid-area: logo;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img{
        width: 120px;
        padding: 5px;
      }
    }
  
    nav{
      grid-area: navBar;
      justify-content: center;
      
      ul{
        display: flex;
        padding: 0px;
        height: 100%;
        justify-content: center;
        align-items: center;
  
        li{
          padding: 10px 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          text-align: center;
          transition: all 500ms;
  
          a{
            color: rgb(220, 220, 220);
            text-decoration: none;
            text-align: center;
            font-size: 15px;
            font-weight: 600;
          }
  
          &:hover{
            background-color: #281146;
            border-top: 3px solid #7F38E0;
            
            a{
              color: white;
              text-align: center;
            }
          }
        }
  
        .link-active{
          background-color: #281146;
          border-top: 3px solid #7F38E0;
          
          a{
            color: white;
          }
        }
      }
    }
  
    .menu{
      grid-area: men;
      display: flex;
      justify-content: end;
      align-items: center;
  
      li{
        width: 115px;
        padding: 5px;
        border-radius: 40px;
        background-color: #7F38E0;
        list-style-type: none;
        display: flex;
        justify-content: center;
  
        a{
          color: white;
          text-decoration: none;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
}