<title>Cars On Sale - Home</title>
<section>
  <!--  -->
  <section class="banner">
    <div class="text">
      <div class="message">
        <h1>Aqui encontraras</h1>
        <h3>el carro de tus sueños!</h3>
        <p>Miles de personas visitan nuestro sitio web diario en busca de un vehículo que se acomode a sus gustos, ese podría ser el tuyo, ¡asi que, que estas esperando!.</p>
      </div>
      <div class="act-btn">
        <button class="offert-btn">Ver Ofertas</button>
        <button class="sell-btn">Vender</button>
      </div>
    </div>
    <div class="image">
      <img src="./assets/carJome.png" alt="">
    </div>
  </section>
  <!--  -->
  <section class="brands">
    <header>
      <div class="text"><h4>Filter by your favorites</h4><h2>BRANDS</h2></div>
      <div class="button"><button>Ver más</button></div>
    </header>
    <section class="bran">
      <!-- we'll use ngFor for this part -->
      <app-brands></app-brands>
      <!--  -->
    </section>
  </section>
  <!--  -->
  <section class="category">
    <header>
      <div class="text"><h4>What's new?</h4><h2>JUST TAKE A LOOK</h2></div>
      <div class="button"><button>Ver más</button></div>
    </header>
    <section class="articles">
      <app-articles></app-articles>
    </section>
  </section>
</section>